SMSBunny.json
[{"id":"bf329388.22e488","type":"tab","label":"SMS Bunny"},{"id":"3334771d.ab91e","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"c8317039.310b78","type":"debug","z":"bf329388.22e488","name":"","active":true,"console":"false","complete":"true","x":210,"y":20,"wires":[]},{"id":"83328a4f.c8f528","type":"inject","z":"bf329388.22e488","name":"Send","topic":"","payload":"AT","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":280,"wires":[["5dc8d01.a3fd4b"]]},{"id":"a0e0a2a4.95c9a8","type":"serial in","z":"bf329388.22e488","name":"SIM800L","serial":"3334771d.ab91e","x":80,"y":60,"wires":[["c8317039.310b78","184e38ab.40771f"]]},{"id":"1434f189.06cb16","type":"serial out","z":"bf329388.22e488","name":"SIM800L","serial":"3334771d.ab91e","x":900,"y":460,"wires":[]},{"id":"37e7ef7b.742e88","type":"change","z":"bf329388.22e488","name":"Set to text","rules":[{"t":"set","p":"payload","pt":"msg","to":"AT+CMGF=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":420,"wires":[["2956fc2a.c74fe4","581dcf3b.59ba5"]]},{"id":"ba29cc8d.143a6","type":"change","z":"bf329388.22e488","name":"Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"AT+CMGS=\"xxxxxxxxxxxx\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":480,"wires":[["5be0ee69.4a50f","15786181.84703e"]]},{"id":"dd185c78.d4934","type":"change","z":"bf329388.22e488","name":"Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Thinking of you!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":540,"wires":[["52b7da24.aaab1c","ccd023ef.69478"]]},{"id":"9001e247.ead568","type":"delay","z":"bf329388.22e488","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":420,"wires":[["37e7ef7b.742e88"]]},{"id":"2956fc2a.c74fe4","type":"delay","z":"bf329388.22e488","name":"","pauseType":"delay","timeout":".8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":480,"wires":[["ba29cc8d.143a6"]]},{"id":"5be0ee69.4a50f","type":"delay","z":"bf329388.22e488","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":540,"wires":[["dd185c78.d4934"]]},{"id":"52b7da24.aaab1c","type":"delay","z":"bf329388.22e488","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":540,"wires":[["c4dd47ec.be05f8"]]},{"id":"c4dd47ec.be05f8","type":"function","z":"bf329388.22e488","name":"ctrlz","func":"msg.payload=\"\\x1a\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["138f7c98.6ab23b","b81e2dee.3e2e8"]]},{"id":"184e38ab.40771f","type":"switch","z":"bf329388.22e488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"SM\"","vt":"str"},{"t":"cont","v":"+CMTI","vt":"str"},{"t":"cont","v":"\"ME\"","vt":"str"},{"t":"cont","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":210,"y":120,"wires":[["a9cd5e4a.04ff"],["a9cd5e4a.04ff"],["a9cd5e4a.04ff"],["af110add.0d1e98"],[]]},{"id":"3f54a661.c8bc7a","type":"change","z":"bf329388.22e488","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[["dd45c5d.64d23b8","352636bb.b89052"]]},{"id":"5d7adee6.d5ad","type":"rpi-neopixels","z":"bf329388.22e488","name":"","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":910,"y":400,"wires":[]},{"id":"dd45c5d.64d23b8","type":"delay","z":"bf329388.22e488","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":80,"wires":[["1239b307.7fff7d"]]},{"id":"1aee395b.bffa27","type":"change","z":"bf329388.22e488","name":"Black","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":140,"wires":[["7bee77a5.9c1e","48799f0c.d3a0c8"]]},{"id":"7d84d7ed.2db118","type":"rpi-gpio in","z":"bf329388.22e488","name":"","pin":"22","intype":"up","debounce":"250","read":false,"x":70,"y":220,"wires":[["5dc8d01.a3fd4b"]]},{"id":"516461df.8330a","type":"rbe","z":"bf329388.22e488","name":"","func":"rbe","gap":"","start":"","inout":"out","x":250,"y":280,"wires":[["bc148753.a674b"]]},{"id":"bc148753.a674b","type":"change","z":"bf329388.22e488","name":"AT - OK","rules":[{"t":"set","p":"payload","pt":"msg","to":"AT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":360,"wires":[["9001e247.ead568","2ad59d6.0d94862"]]},{"id":"7bee77a5.9c1e","type":"change","z":"bf329388.22e488","name":"Clear incoming texts","rules":[{"t":"set","p":"payload","pt":"msg","to":"AT+CMGD= 1,4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[["ef1df10e.29333"]]},{"id":"5dc8d01.a3fd4b","type":"delay","z":"bf329388.22e488","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":240,"y":220,"wires":[["516461df.8330a"]]},{"id":"6458f8e7.1e969","type":"debug","z":"bf329388.22e488","name":"","active":true,"console":"false","complete":"false","x":450,"y":20,"wires":[]},{"id":"a9cd5e4a.04ff","type":"function","z":"bf329388.22e488","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["6458f8e7.1e969","3f54a661.c8bc7a"]]},{"id":"b81e2dee.3e2e8","type":"change","z":"bf329388.22e488","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[["84278bbd.3529f","352636bb.b89052"]]},{"id":"be424aa.d8d5838","type":"inject","z":"bf329388.22e488","name":"Wake Up!","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":720,"wires":[["d0794cc8.0634d8"]]},{"id":"aa761c4.decf2e","type":"rpi-gpio out","z":"bf329388.22e488","name":"","pin":"16","set":true,"level":"1","out":"out","x":510,"y":760,"wires":[]},{"id":"f6ef6215.f8b008","type":"change","z":"bf329388.22e488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":680,"wires":[["aa761c4.decf2e"]]},{"id":"cbd2009b.14d5","type":"delay","z":"bf329388.22e488","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":680,"wires":[["f6ef6215.f8b008"]]},{"id":"221f97a.3b92368","type":"comment","z":"bf329388.22e488","name":"Trigger this if not connected to Carrier","info":"","x":270,"y":620,"wires":[]},{"id":"f1fde510.1dfe48","type":"change","z":"bf329388.22e488","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":760,"wires":[["aa761c4.decf2e"]]},{"id":"d0794cc8.0634d8","type":"function","z":"bf329388.22e488","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":680,"wires":[["f1fde510.1dfe48","cbd2009b.14d5"]]},{"id":"af110add.0d1e98","type":"link out","z":"bf329388.22e488","name":"Auto Wake Up!","links":["5c1ed3d3.2c893c"],"x":315,"y":140,"wires":[]},{"id":"5c1ed3d3.2c893c","type":"link in","z":"bf329388.22e488","name":"","links":["af110add.0d1e98"],"x":75,"y":680,"wires":[["d0794cc8.0634d8"]]},{"id":"352636bb.b89052","type":"link out","z":"bf329388.22e488","name":"To Neopixel","links":["4cbb169b.e42a8"],"x":655,"y":140,"wires":[]},{"id":"4cbb169b.e42a8","type":"link in","z":"bf329388.22e488","name":"","links":["352636bb.b89052","48799f0c.d3a0c8","8a0d59a2.89d208"],"x":775,"y":400,"wires":[["5d7adee6.d5ad"]]},{"id":"4472dfe6.948c38","type":"link in","z":"bf329388.22e488","name":"","links":["ef1df10e.29333","2ad59d6.0d94862","39f86d89.be1a72","581dcf3b.59ba5","15786181.84703e","ccd023ef.69478","138f7c98.6ab23b"],"x":775,"y":460,"wires":[["1434f189.06cb16"]]},{"id":"ef1df10e.29333","type":"link out","z":"bf329388.22e488","name":"SIM800L","links":["4472dfe6.948c38"],"x":995,"y":220,"wires":[]},{"id":"daf7a7c4.f9bce8","type":"inject","z":"bf329388.22e488","name":"","topic":"","payload":"Black","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":1000,"wires":[["8a0d59a2.89d208"]]},{"id":"8a0d59a2.89d208","type":"link out","z":"bf329388.22e488","name":"Neopixel2","links":["4cbb169b.e42a8"],"x":320,"y":1000,"wires":[]},{"id":"1239b307.7fff7d","type":"function","z":"bf329388.22e488","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["1aee395b.bffa27"]]},{"id":"84278bbd.3529f","type":"delay","z":"bf329388.22e488","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":200,"wires":[["1239b307.7fff7d"]]},{"id":"48799f0c.d3a0c8","type":"link out","z":"bf329388.22e488","name":"To Neopixel","links":["4cbb169b.e42a8"],"x":995,"y":140,"wires":[]},{"id":"2ad59d6.0d94862","type":"link out","z":"bf329388.22e488","name":"SIM800L","links":["4472dfe6.948c38"],"x":375,"y":320,"wires":[]},{"id":"581dcf3b.59ba5","type":"link out","z":"bf329388.22e488","name":"SIM800L","links":["4472dfe6.948c38"],"x":375,"y":400,"wires":[]},{"id":"15786181.84703e","type":"link out","z":"bf329388.22e488","name":"SIM800L","links":["4472dfe6.948c38"],"x":375,"y":460,"wires":[]},{"id":"ccd023ef.69478","type":"link out","z":"bf329388.22e488","name":"SIM800L","links":["4472dfe6.948c38"],"x":375,"y":520,"wires":[]},{"id":"138f7c98.6ab23b","type":"link out","z":"bf329388.22e488","name":"SIM800L","links":["4472dfe6.948c38"],"x":715,"y":540,"wires":[]}]
